* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
}

h1 {
    color: white;
}

div {
    background-color: pink;
}

h2 {
    color: orange;
    font-size: 60px;
}